*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/app/build_cmd
/app/build_final
/app/build_final_v2
/app/build_final_v3
/app/build_final_v4
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof

# Kotlin
.kotlin/

# Signing files
signing.properties
*.jks
*.keystore

# Build directories
build/
app/build/
